# ---- Git Ignore Configuration ----

# Virtual environment
venv/

# Uploaded images (temporary)
uploads/*

# Old model formats
*.h5
*.keras

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Log or temp files
*.log
*.tmp

# Dataset - ignore images but keep folder structure
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png
dataset/**/*.bmp
!dataset/**/.gitkeep
